<% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(user.errors.count, "error") %> proibiram esse usuário de ser salvo:</h2>
    <ul>
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class= 'container'>
  <%= form_with model: user do |form| %>
      <% if @current_user.admin? %>
        <%= form.text_field :name, class:'form-control' %>
        <%= form.text_field :cpf, class:'form-control', placeholder: '111.111.111-11' %>
        <%= form.email_field :iduff, class:'form-control', placeholder: 'exemplo@id.uff.br'  %>
        <% if user.id %>
          <%= form.password_field :password, class: 'form-control'%>
        <% end %>
        <%= form.check_box :active, checked: user.active%>
        <%= form.label :active, "Ativo:" %>
        <%= form.check_box :admin %>
        <%= form.label :admin, "Admin:" %>
      <% else %>
        <%= form.text_field :name, readonly: true %>
        <%= form.text_field :cpf, readonly: true%>
        <%= form.email_field :iduff, readonly: true %>
        <%= form.password_field :password, class: 'form-control'%>
      <% end %>

    <div>
      <%= form.submit 'Salvar', class: 'btn btn-success' %>
      <%= link_to 'Voltar', users_path, class: 'btn btn-secondary', type: 'button' %>
    <div>
  <% end %>  
</div>
<%= javascript_pack_tag 'masks'%>
