<% if user.errors.any? %>
  <div id="error_explanation">
    <h2>Alguns erros proibiram esse usuário de ser salvo:</h2>
    <ul>
      <% user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<section class='mb-5'>
  <div class='d-flex flex-column w-25 ms-3'>
    <%= form_with model: user do |form| %>
      <% if @logged_user.admin? %>
        <%= form.label :name, "Nome:", class: 'mb-2 form-label' %>
        <%= form.text_field :name, class: 'form-control mb-3 form-control-sm' %>
        <%= form.label :iduff, "IdUFF:", class: 'mb-2' %>
        <%= form.text_field :iduff, placeholder: '111.111.111-11', class: 'form-control mb-3 form-control-sm' %>
        <% if user.id %>
          <%= form.label :password, "Senha:", class: 'mb-2' %>
          <%= form.password_field :password, class: 'form-control mb-3 form-control-sm'%>
        <% end %>
        
        <%= form.label :admin, "Admin:", class: 'mb-4 me-2' %>
        <%= form.check_box :admin, class: 'form-check-input mb-4' %>
      <% else %>
        <%= form.label :name, "Nome:", class: 'mb-2' %>
        <%= form.text_field :name, readonly: true, class: 'form-control mb-3 form-control-sm' %>
        <%= form.label :iduff, "IdUFF:", class: 'mb-2' %>
        <%= form.text_field :iduff, readonly: true, class: 'form-control mb-3 form-control-sm' %>
        <%= form.label :password, "Senha:", class: 'mb-2' %>
        <%= form.password_field :password, class: 'form-control mb-3 form-control-sm'%>
      <% end %>
      <div class="d-flex">
        <%= form.submit 'Salvar', class: 'btn btn-success me-4' %>
        <%= link_to 'Voltar', users_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>  
  </div>
</section>
<%= javascript_pack_tag 'masks'%>
