<p id="notice"><%= notice %></p>
<div class='d-flex flex-row justify-content-between align-items-center'>
  <h1>Usuários</h1>
  <%= link_to 'Novo', new_user_path, class: 'btn btn-primary' %>
</div>

<section class='d-flex flex-column align-items-center'> 
  <div class='w-75 p-3'>
    <%= form_with url: users_url, method: :get do |form| %>
      <div class="autocomplete">
        <div class='input-group'>
          <%= form.text_field :q, class:'form-control', placeholder:'Nome ou CPF', autocomplete: 'off' %>
          <%= form.submit 'Procurar', class:'btn btn-outline-info' %>
        </div>
      </div>
    <% end %>
  </div>

  <ul class='w-75 p-3'>
    <% @users.each do |user| %>
      <%= render 'user_card', user: user, logged_user: @logged_user %>
    <% end %>
  </ul>
</section>

<%= javascript_pack_tag 'users' %>


