<nav class="navbar border navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <ul class="nav justify-content-start">
      <li class="nav-item">
        <%= link_to image_tag('logo_uff.png', width:"60", height:"30"), home_path, class:"navbar-brand", value:"Coranas" %>
      </li>

    <% if @logged_user.admin? %>

      <li class="nav-item">
        <%= link_to 'Dashboard', home_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Usuários", users_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Campi", colleges_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Corridas", search_rides_path, class:"nav-link" %>
      </li>


    <% else %>

      <li class="nav-item">
        <%= link_to 'Dashboard', home_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Minhas Caronas', user_rides_path(@logged_user), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Pesquisar Caronas", search_rides_path, class:"nav-link" %>
      </li>

    <% end %>

    </ul>
    <div>
      <p class='m-0 me-2'><%= @logged_user.name %></p>
      <%= link_to "Sair", logout_path, class:"nav-link" %>
    </div>
  </div>
</nav>
