<nav class="navbar border navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <ul class="nav justify-content-start">
      <li class="nav-item">
        <%= link_to image_tag('logo_uff.png', width:"60", height:"30"), home_path, class:"navbar-brand", value:"Coranas" %>
      </li>

    <% if @current_user.admin? %>

      <li class="nav-item">
        <%= link_to 'Dashboard', home_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Usuários", users_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Campi", colleges_path, class:"nav-link" %>
      </li>

    <% else %>

      <li class="nav-item">
        <%= link_to 'Dashboard', home_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Caronas', rides_path, class: "nav-link" %>
      </li>

    <% end %>

    </ul>
    <%= link_to "Sair", logout_path, class:"nav-link" %>
  </div>
</nav>
