<div class='container'>
  
  <h1>Carona UFF</h1>
  
  <p id="notice"><%= notice %></p> 
  <%= form_with url: '/login', method: :post do |form| %>
    <div class='d-flex flex-column w-25 ms-3'>
      <%= form.label :cpf, 'CPF:', class:'form-label mb-2'%>
      <%= form.text_field :cpf, placeholder: 'Login', class: 'form-control mb-3', autofocus: true %>
      <%= form.label :password, 'Senha:', class:'form-label mb-2'%>
      <%= form.password_field :password, placeholder: 'Senha', class: 'form-control mb-3' %>

      <%= form.submit 'Entrar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
