<div class='container'>
  
  <h1>Carona UFF</h1>
  
  <p id="notice"><%= notice %></p> 

  <%= form_with url: '/login', method: :post, class: '' do |form| %>
    
    <%= form.email_field :iduff, placeholder: 'Login', class: '', autofocus: true %>
    <%= form.password_field :password, placeholder: 'Senha', class: '' %>

    <%= form.submit 'Entrar', class: 'btn primary' %>
  <% end %>
</div>
