<div class='card'>
  <div class='card-body'>
    <h5 class='card-title'><%= college.name %></h5>
    <h6 class='1card-subtitle mb-2 text-muted1'><%= full_address(college) %></h6>
    <p class="card-text"><%= "Contato: #{college.phone_number}" %></p>
  </div>
  <div class="card-footer">
    <%= link_to 'Editar', edit_college_path(college), method: :put, class: 'btn btn-outline-warning', type: 'button' %>
    <%= link_to 'Deletar', college, method: :delete, data: {confirm: "Tem certeza?"}, class: 'btn btn-danger', type: 'button' %>
  </div>
</div>
