<% if college.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(college.errors.count, "error") %> proibiram esse campus de ser salvo:</h2>
    <ul>
      <% college.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class= 'container'>
  <%= form_with model: college do |form| %>
    <%= form.text_field :name, class:'control-form'%>
    <%= form.text_field :address, class:'control-form' %>
    <%= form.text_field :neighborhood, class:'control-form' %>
    <%= form.text_field :cit, class:'control-form'%>
    <%= form.telephone_field :phone_number, placeholder: '(00) 0000-0000', class:'control-form' %>
    <%= form.text_field :cep, placeholder: '00000-000', class:'control-form' %>
    <%= form.check_box :active, checked: true, class:'form-check-input' %>
    <%= form.label :active, "Ativo:", class:'form-label' %>

    <div class='d-flex'>
      <%= form.submit 'Salvar', class: 'btn btn-success', type: 'button' %>
      <%= link_to 'Voltar', colleges_path, class: 'btn btn-secondary', type: 'button' %>
    <div>
  <%= end %>
</div>
  

