<div class='d-flex flex-row align-items-end mb-4 w-75'>
  <div class='me-3 w-80'>
    <label class="mb-2 form-label" for="waypoint_address">Endereço</label>
    <input class="form-control form-control-sm" type="text" id="waypoint_address">
  </div>
  <div class='me-3 w-80'>
    <label class="mb-2 form-label" for="waypoint_neighborhood">Bairro</label>
    <input class="form-control form-control-sm" type="text" id="waypoint_neighborhood">
  </div>
  <div class='me-3 w-80'>
    <label class="mb-2 form-label" for="waypoint_city">Cidade</label>
    <input class="form-control form-control-sm" type="text" id="waypoint_city">
  </div>
  <button class='btn btn-primary' id='add-stop'>Adicionar</button>
</div>

<%= form_with url: ride_waypoints_path(@ride) do |form| %>
  <h6>Lista de paradas:</h6>
  <ol class='list-group list-group-flush' id='waypoints-list'>
    <% @ride.ordered_waypoints.each do |waypoint| %>
      <% next if waypoint.order == 0 %>
      <li>
        <div class="d-flex mb-3 align-items-center">
          <input type="hidden" class='order' value=<%=waypoint.order%> id=<%="order-#{waypoint.order}"%>>
          <input type="hidden" value="<%=waypoint.id%>" id= <%="id-#{waypoint.order}"%>>
          <h5 class="m-0 ms-4"><%=full_address_format(waypoint)%></h5>
        </div>
      </li>
    <% end %>
  </ol>
  <div class="d-flex mb-4">
    <%= form.submit 'Salvar', class: 'btn btn-success me-4' %>
    <%= link_to 'Voltar', edit_user_ride_path(@current_user, @ride), class: 'btn btn-secondary' %>
  </div>
<% end %>
<input type='hidden', value="<%= @ride.id %>" id='ride-id'>

<%= javascript_pack_tag 'waypoints'%>