<div>
  <%= form.label :watpoint_address, "Endereço:", class: 'mb-3 form-label' %>
  <%= form.text_field :waypoint, name: 'waypoint[address]', class: 'form-control mb-3 form-control-sm' %>
  <%= form.label :neighborhood, "Bairro:", class: 'mb-2 form-label' %>
  <%= form.text_field :waypoint, name: 'waypoint[neighborhood]', class: 'form-control mb-3 form-control-sm' %>
  <%= form.label :city, "Cidade:", class: 'mb-2 form-label' %>
  <%= form.text_field :waypoint, name: 'waypoint[city]', class: 'form-control mb-3 form-control-sm' %>
  <%= form.hidden_field :waypoint, name: 'waypoint[order]' %>
  <%= form.hidden_field :waypoint, name: 'waypoint[kind]', value: "stop" %>
  <%= form.hidden_field :waypoint, name: 'waypoint[is_college]', value: "false" %>
</div>