<style>
  .tab {
    display: none;
  }
  input.invalid {
    background-color: #ffdddd;
  }
</style>

<% if ride.errors.any? %>
  <div id="error_explanation">
    <h2>Alguns erros impediram de cadastrar essa corrida:</h2>
    <ul>
      <% ride.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<section class='mb-5'>
  <div class='d-flex flex-column w-25 ms-3'>
    <%= form_with url: url, model: ride, id:'regForm' do |form| %>
    
      <div class='tab'>Origem:
        <div class='mb-2 mt-2 to-college'>
          <%= form.label :to_college, "Campus:", class: 'mb-3 form-label', for: :to_college_departure %>
          <%= form.check_box :to_college, class: 'form-check-input mb-3', id: :to_college_departure %>
        </div>
        <div id='departure-input'>
          <%= form.label :departure_address, "Endereço:", class: 'mb-2 form-label' %>
          <%= form.text_field :departure_address, class: 'form-control mb-3 form-control-sm' %>
          <%= form.label :departure_neighborhood, "Bairro:", class: 'mb-2 form-label' %>
          <%= form.text_field :departure_neighborhood, class: 'form-control mb-3 form-control-sm' %>
          <%= form.label :departure_city, "Cidade:", class: 'mb-2 form-label' %>
          <%= form.text_field :departure_city, class: 'form-control mb-3 form-control-sm' %>
        </div>
      </div>

      <div class='tab'>Destino
        <div class='mb-2 mt-2 to-college'>
          <%= form.label :to_college, "Campus:", class: 'mb-3 form-label', for: :to_college_destination %>
          <%= form.check_box :to_college, class: 'form-check-input mb-3', id: :to_college_destination %>
        </div>
        <div id='destination-input'>
          <%= form.label :destination_address, "Endereço:", class: 'mb-2 form-label' %>
          <%= form.text_field :destination_address, class: 'form-control mb-3 form-control-sm' %>
          <%= form.label :destination_neighborhood, "Bairro:", class: 'mb-2 form-label' %>
          <%= form.text_field :destination_neighborhood, class: 'form-control mb-3 form-control-sm' %>
          <%= form.label :destination_city, "Cidade:", class: 'mb-2 form-label' %>
          <%= form.text_field :destination_city, class: 'form-control mb-3 form-control-sm' %>
        </div>
      </div>

      <div class='tab'>Detalhes da corrida:
        <%= form.label :seats, "Assentos:", class: 'mb-2 form-label' %>
        <%= form.number_field :seats, class: 'form-control mb-3 form-control-sm' %>
        <%= form.label :price, "Preço (por passageiro):", class: 'mb-2 form-label' %>
        <%= form.number_field :price, class: 'form-control mb-3 form-control-sm' %>
        <%= form.label :date, "Data:", class: 'mb-2 form-label' %>
        <%= form.date_field :date, class: 'form-control mb-3 form-control-sm' %>
        <%= form.label :time, "Horário:", class: 'mb-2 form-label' %>
        <%= form.time_field :time, class: 'form-control mb-3 form-control-sm' %>
        <%= form.label :observation, "Observações:", class: 'mb-2 form-label' %>
        <%= form.text_area :observation, size: '70x4', class: 'form-control mb-3 form-control-sm' %>
      </div>

      <div style="overflow:auto;" class="d-flex mb-4">
        <%= link_to 'Voltar', user_rides_path(user), class: 'btn btn-secondary me-4', id:'backBtn' %>
        <button type="button" id="prevBtn" class='btn btn-secondary me-4'>Anterior</button>
        <button type="button" id="nextBtn" class='btn btn-success '>Próximo</button>
      </div>
    <% end %>

    <input type='hidden' value=<%= ride.to_college ? '1' : '0' %> id='hidden-to-college-value'>
    <input type='hidden' value=<%= ride.id %> id='hidden-ride-id'>

    <% unless ride.id.nil? %>
      <input type='hidden' value='<%= ride.destination.address %>' id='hidden-destination-address'>
      <input type='hidden' value='<%= ride.destination.city %>' id='hidden-destination-city'>

      <input type='hidden' value='<%= ride.departure.address %>' id='hidden-departure-address'>
      <input type='hidden' value='<%= ride.departure.city %>' id='hidden-departure-city'>

      <input type='hidden' value=<%= ride.college_id %> id='hidden-college-id'>
    <% end %>
  </div>
</section>

<%= javascript_pack_tag 'ride_form' %>
