<h1>Procurar Caronas</h1> 
<%= form_with url: search_rides_url, method: :get do |form| %>
  <div class='d-flex align-items-end'>
    <!-- TEXT INPUTS -->
    <div class='d-flex align-items-center w-80'>
      <!-- DEPARTURE -->
      <div id='departure_text_field' class='me-3 w-100'>
        <p class='mb-2'>Partida:</p>
        <div class='input-group' id='departure-input'>
          <div class="input-group-text justify-content-start align-items-center">
            <%= form.label :departure_kind, "Campus", class: 'me-2 form-check-label'%>
            <%= form.radio_button :departure_kind, class: 'form-check-input', type: 'checkbox' %>
          </div>
          <%= form.text_field :departure, class: 'form-control', type: 'text', disabled: true %>
        </div>
      </div>
      <!-- DESTINATION -->
      <div id='destination_text_field' class='me-4 w-100'>
        <p class='mb-2'>Destino:</p>
        <div class='input-group' id='destination-input'>
          <div class="input-group-text justify-content-start align-items-center">
            <%= form.label :departure_kind, "Campus", class: 'me-2 form-check-label'%>
            <%= form.radio_button :destination_kind, class: 'form-check-input', type: 'checkbox' %>
          </div>
          <%= form.text_field :destination, class: 'form-control', type: 'text', disabled: true %>
        </div>
      </div>
    </div>

    <%= form.submit 'Procurar', class:'btn btn-outline-success'%>
  </div>
<% end %>

<section class='d-flex justify-content-center'>  
  <ul class='w-75 p-3'>
    <% @rides.each do |ride| %>
      <%= render 'ride_card', {ride: ride, user: @current_user} %>
    <% end %>
  </ul>
</section>
<%= javascript_pack_tag 'search_ride' %>