<h1>Procurar Caronas</h1> 
<%= form_with url: search_rides_url do |form| %>
  <div class='d-flex justify-content-between align-items-center'>
    <!-- TEXT INPUTS -->
    <div class='d-flex flex-column justify-content-between align-items-center w-100'>
      <!-- DEPARTURE -->
      <div id='departure_text_field' class='d-flex align-items-center mb-3 justify-content-between w-100'>
        <h4 class='m-0 ms-3'>Partida:</h4>
        <div class='input-group w-80'>
          <div class="input-group-text justify-content-start align-items-center">
            <%= form.label :departure_kind, "Campus: ", class: 'me-2'%>
            <%= form.check_box :departure_kind, class: 'form-check-input', type: 'checkbox' %>
          </div>
          <%= form.text_field :departure, class: 'form-control', type: 'text', disabled: true %>
        </div>
      </div>
      <!-- DESTINATION -->
      <div id='destination_text_field' class='d-flex align-items-center justify-content-between w-100'>
        <h4 class='m-0 ms-3'>Destino:</h4>
        <div class='input-group w-80'>
          <div class="input-group-text justify-content-start align-items-center">
            <%= form.label :departure_kind, "Campus: ", class: 'me-2'%>
            <%= form.check_box :destination_kind, class: 'form-check-input', type: 'checkbox' %>
          </div>
          <%= form.text_field :destination, class: 'form-control', type: 'text', disabled: true %>
        </div>
      </div>
    </div>

    <%= form.submit 'Procurar', class:'btn btn-outline-success ms-5'%>
  </div>
  <%= form.select :college, options_for_select(@rides) %>
<% end %>

<section> 
  <ul>
    <% @rides.each do |ride| %>
      <%= render 'ride_card', ride: ride %>
    <% end %>
  </ul>
</section>
<%= javascript_pack_tag 'rides' %>